/* Responsive styles */
@media (max-width: 768px) {
    .flexContainer {
        padding-top: 30% !important;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 5% !important;
      /* padding-bottom: 30% !important; */
    }
    .imgContainer {
        width: 70vw !important;
        /* background: red; */
    
      }
  
    .approachH2 {
      text-align: center;
    font-size: 36px !important;
    color: #D3D3D3;
    font-weight: 700;
      width: 100%; /* Full width */
      margin-bottom: 20px; /* Space between h1 and p */
    }
  
    .approachP {
      width: 100%; /* Allows the text to fill the container */
      text-align: center;
    }
    .img1,.img2,.img3,.img4{
        width: 100%;
        height: auto;
    }
    .imgDiv1,.imgDiv2,.imgDiv3,.imgDiv4{
        padding-bottom: 4%;
    }
  }
  
  @media (min-width: 768px) {
  
  /* General styles, also add your existing styles here */
  .flexContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 5%;
    padding-bottom: 5% !important;

    /* background: red; */

  }
  .imgContainer {
    display: flex;
    width: 70vw !important;
    /* background: red; */

  }
  .approachCol, .sideheading-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
  }
  
  .approachH2 {
    color: #D3D3D3;
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    /* padding: 0; */
    padding: 0% 15% !important;
  }
  
  .approachP {
    color: #303132;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5em;
    letter-spacing: 0px;
    max-width: 75%;
  }
  .img1{
    width: 420px;
    height: 405px;
}
.img2{
    width: 445px;
    height: 405px;
}
.img3{
    width: 420px;
    height: 365px;
}
.img4{
    width: 445px;
    height: 365px;
}
.imgDiv1{
    flex: 1;
    height: 430px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.imgDiv2{
    flex: 1;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgDiv3{
    flex: 1;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.imgDiv4{
    flex: 1;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}